bees-keys-icon {
  width: 170px;
  height: 170px;
  border-radius: 22%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

bees-keys-link {
  display: inline-block;
  overflow: hidden;
  border-radius: 13px;
  width: 250px;
  height: 83px;
}