.App {
  text-align: center;
}

.region-button {
  margin: 0 2px;
}

.country-summary {
  margin: 10px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 1.4em;
  font-weight: bold;
}

.card-text {
  font-size: 1em;
  whiteSpace: nowrap;
}

.legend {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  padding : 20px;
  margin: 20px;
  text-align: left;
  pointer-events:none;
}

.legend-container {
  position: relative;
}

.legend-mobile {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding : 20px;
  text-align: left;
  font-size: 12px;
  pointer-events:none;
}

ul li::before {
  content: "\25A0";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ul {
  list-style: none;
}

ul li.red::before {
  color: #cf4226;
}

ul li.yellow::before {
  color: #fcba03;
}

ul li.green::before {
  color: #53c319;
}

ul li.turquoise::before {
  color: #3fc0a9;
}

ul li.blue::before {
  color: #2d89d6;
}