.mild {
  fill: #53c319;
}

.warm {
  fill: #fcba03;
}

.no-data {
  fill: grey;
}

.hot {
  fill: #cf4226;
}

.cool {
  fill: #3fc0a9;
}

.cold {
  fill: #2d89d6;
}

.map-wrapper {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}