.perfect {
  fill: green;
}

.warm {
  fill: yellow;
}

.off {
  fill: orange;
}

.hot {
  fill: red;
}

.chilly {
  fill: #40e0d0;
}

.cold {
  fill: #ADD8E6;
}

.map-wrapper {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}