.mild {
  fill: #53c319;
}

.warm {
  fill: #fcba03;
}

.no-data {
  fill: #ececec;
}

.hot {
  fill: #cf4226;
}

.cool {
  fill: #3fc0a9;
}

.cold {
  fill: #2d89d6;
}

.map-wrapper {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.region:hover {
  stroke: black;
  stroke-width: 2px;
  transition: stroke-width 0.4s, filter 0.4s;
  filter: brightness(0.75);
}

